<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.commontime.infinity.Fiddlesticks" version="1.0.0">
    <name>Fiddlesticks</name>
    <description>
            CommonTime Infinity Client
        </description>
    <content src="index.html"/>
<!-- Global Preferences -->
    <preference name="phonegap-version" value="cli-6.3.0"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="Orientation" value="default"/>
    <preference name="android-minSdkVersion" value="15"/>
    <preference name="android-build-tool" value="gradle"/>
    <preference name="android-windowSoftInputMode" value="adjustResize"/>
    <preference name="deployment-target" value="8.0"/>
    <icon src="icon.png"/>
    <platform name="ios">
        <icon src="Icon-App-40x40@1x.png" width="40" height="40"/>
        <icon src="Icon-App-40x40@2x.png" width="80" height="80"/>
        <icon src="Icon-App-40x40@3x.png" width="120" height="120"/>
        <icon src="57x57.png" width="57" height="57"/>
        <icon src="114x114.png" width="114" height="114"/>
        <icon src="Icon-App-60x60@1x.png" width="60" height="60"/>
        <icon src="Icon-App-60x60@2x.png" width="120" height="120"/>
        <icon src="Icon-App-60x60@3x.png" width="180" height="180"/>
        <icon src="72x72.png" width="72" height="72"/>
        <icon src="144x144.png" width="144" height="144"/>
        <icon src="Icon-App-76x76@1x.png" width="76" height="76"/>
        <icon src="Icon-App-76x76@2x.png" width="152" height="152"/>
        <icon src="Icon-App-76x76@3x.png" width="228" height="228"/>
        <icon src="Icon-App-29x29@1x.png" width="29" height="29"/>
        <icon src="Icon-App-29x29@2x.png" width="58" height="58"/>
        <icon src="Icon-App-29x29@3x.png" width="87" height="87"/>
        <icon src="50x50.png" width="50" height="50"/>
        <icon src="100x100.png" width="100" height="100"/>
        <icon src="Icon-App-83.5x83.5@2x.png" width="167" height="167"/>
        <splash height="480" src="screen-iphone-portrait.png" width="320"/>
        <splash height="960" src="screen-iphone-portrait-2x.png" width="640"/>
        <splash height="1136" src="screen-iphone-portrait-568h-2x.png" width="640"/>
        <splash height="1334" src="screen-667h-portrait.png" width="750"/>
        <splash height="1024" src="screen-ipad-portrait.png" width="768"/>
        <splash height="768" src="screen-ipad-landscape.png" width="1024"/>
        <splash height="2208" src="splash_1242_x_2208_portrait-736h.png" width="1242"/>
        <splash height="1242" src="splash_2208_x_1242_landscape-736h.png" width="2208"/>
        <splash height="2048" src="Default-Portrait@2x~ipad.png" width="1536"/>
        <splash height="1536" src="Default-Landscape@2x~ipad.png" width="2048"/>
        <preference name="Orientation" value="all"/>
    </platform>
    <platform name="android">
        <icon src="icon-36-ldpi.png" density="ldpi"/>
        <icon src="icon-48-mdpi.png" density="mdpi"/>
        <icon src="icon-72-hdpi.png" density="hdpi"/>
        <icon src="icon-96-xhdpi.png" density="xhdpi"/>
        <icon src="icon-144-xxhdpi.png" density="xxhdpi"/>
        <splash src="portrait-xhdpi.png" qualifier="port-xhdpi"/>
        <splash src="landscape-xhdpi.png" qualifier="land-xhdpi"/>
    </platform>
    <access origin="*"/>
    <allow-navigation href="*"/>
<!--Built-in Plugins: -->
    <plugin name="cordova-plugin-whitelist" spec="1.2.2"/>
    <plugin name="cordova-plugin-console" spec="1.0.3"/>
    <plugin name="cordova-plugin-device" spec="1.1.2"/>
    <plugin name="cordova-plugin-globalization" spec="1.0.3"/>
    <plugin name="cordova-plugin-splashscreen" spec="3.2.2"/>
    <plugin name="cordova-plugin-statusbar" spec="1.0.1"/>
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#000000"/>
    <preference name="StatusBarStyle" value="lightContent"/>
<!--Plugin override: com.commontime.cordova.audio@0.9.10, in use: false, enabled: true-->
    <plugin name="com.commontime.cordova.audio" spec="0.9.10">
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="This app would like to use the microphone."/>
    </plugin>
    <plugin name="com.commontime.cordova.splitscreen" spec="1.1.0"/>
    <plugin name="com.commontime.cordova.preferences" spec="1.0.0"/>
    <plugin name="com.commontime.cordova.urlhandler" spec="1.1.0">
        <variable name="URL_SCHEME" value="fiddlesticks"/>
    </plugin>
    <plugin name="com.commontime.cordova.securesettings" spec="1.0.2"/>
    <plugin name="com.commontime.cordova.logging" spec="1.0.23"/>
    <preference name="loggingEnabled" value="false"/>
    <preference name="clientRootLogLevel" value="error"/>
    <preference name="appRootLogLevel" value="error"/>
    <preference name="nativeRootLogLevel" value="error"/>
    <preference name="clientMaxFileSize" value="1000000"/>
    <preference name="clientMaxNumberOfLogFiles" value="5"/>
    <preference name="appMaxFileSize" value="1000000"/>
    <preference name="appMaxNumberOfLogFiles" value="5"/>
    <preference name="nativeMaxFileSize" value="1000000"/>
    <preference name="nativeMaxNumberOfLogFiles" value="5"/>
    <plugin name="cordova-plugin-email-composer" spec="https://github.com/commontime/cordova-plugin-email-composer#0.8.5"/>
<!--Custom Plugins:-->
<!--End of Custom Plugins:-->
</widget>